<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AttitudeDao">

    <select id="findAttitude" resultType="Attitude">
        select * from attitude
        where pid=#{pid} and username=#{username}
    </select>

    <insert id="saveAttitude"  parameterType="Attitude" >
        insert into attitude values (#{id},#{pid},#{username},#{realname},#{thought})
    </insert>


    <!-- 登录-->
    <!--    <select id="login" resultType="User">-->
    <!--        select  id,username,realname,password,sex from t_user-->
    <!--        where username=#{username} and password=#{password}-->
    <!--    </select>-->
</mapper>